<div class="container">
	<div class="row">
		<div id="title" class="col-md-12 text-center">
			<%= item.toString() %>
		</div>
	</div>

	<div class="form-group">&nbsp;</div>

	<div class="row">
		<div class="col-xs-4 col-md-4">
			<div class="row">
				<div id="value" class="text-center col-xs-12 col-md-12">
					Value: <%= item.getValue() %>
				</div>
			</div>

			<div class="row">
				<div id="burden" class="text-center col-xs-12 col-md-12">
					<%= item.getBurden() %> grams
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-6">
		</div>

		<div id="image" class="col-xs-2 col-md-2">
			<img src="/images/missile.48.png"></img>
		</div>
	</div>

	<div class="form-group">&nbsp;</div>

	<div class="row">
		<div id="armor-body">
			<div id="armor-level">
				Modifier: <%= item.getDamageModifier() %>
			</div>
		</div>
	</div>
</div>
