<form method="POST" action="<%= action %>">
	<div class="form-group">
		<div id="form-email">
			<label for="email">Email</label>
			<input id="email" name="email"/>
		</div>

		<div id="form-password">
			<label for="password">Password</label>
			<input id="password" name="password"/>
		</div>

		<div id="form-submit">
			<button type="submit">Submit</button>
		</div>
	</div>
</form>
